################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/notebook/__pycache__
/notebook/.ipynb_checkpoints
